# Dependency folders
node_modules
server/node_modules

# Build artifacts
dist
server/dist
.server_dist

# Git and IDE files
.git
.vscode
.idea

# Environment variables and logs
.env
*.log
npm-debug.log

# Mac metadata
.DS_Store

# Archives
*.tgz